body {
  background-image: linear-gradient(to bottom right, rgb(68, 68, 210), rgb(125, 10, 125));
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.user-search-field {
  margin: 20px;
}

.user-search-input {
  height: 45px;
  width: 12em;
  border-radius: 10px;
  border: none;
  background-color: rgb(44, 42, 42);
  color: white;
  cursor: pointer;
  position: relative;
  padding-left: 15px;
  border-style: hidden;
}

.user-search-input:focus {
  outline: none;
}

::placeholder {
  text-align: center;
  font-size: 15px;
  color: rgb(159, 143, 143);
  padding: 0;
  position: absolute;
  padding-top: 14px;
}

.user-container {
  background-color: #4c189f;
  min-width: 600px;
  max-width: 630px;
  height: fit-content;
  width: fit-content;
  min-height: 230px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.user-information {
  color: beige;
  margin-top: 20px;
}

.user-follows-repos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.repos-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 18px;
  font-size: 13px;
}

img {
  border-radius: 70px;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 1em;
  margin-top: 30px;
  margin-right: 20px;
}

h1 {
  font-size: 27px;
  display: flex;
  justify-content: left;
}

h3 {
  display: flex;
  justify-content: left;
  font-size: 16px;
}

.user-public-repos {
  background-color: #2a2b73;
  color: white;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 7px;
  display: flex;
  box-shadow: 0 0 10px #401487;
  text-decoration: none;
}

/* .user-public-repos:hover {
  cursor: pointer;
  display: block;
} */

p:hover {
  cursor: pointer;
  display: block;
}

.user-followers,
.user-following,
.user-repos {
  margin-right: 10px;
}
